*,
:root {
	font-size: 10px;
}

/* required snapPuzzle styles */
.snappuzzle-wrap {
	position: relative;
	display: block;
	width: 100%;
}

.snappuzzle-pile {
	position: relative;
}

.snappuzzle-piece {
	cursor: move;
}

.snappuzzle-slot {
	position: absolute;
	background: #fff;
	opacity: .8;
}

.snappuzzle-slot-hover {
	background: #eee;
}


.pure-img .mini_thumbnail {
	display: flex;
	align-self: center;
	width: 100%;
	/*     min-width: 30rem;
    max-width: 80rem; */
	height: auto;
	/*     max-width: 80vw;    
    min-width: 35vw; */
}

.snappuzzle-wrap {
	align-items: center;
	min-width: 30rem;
	max-width: 80rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* restart_column */
.restart_column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/* Range slider*/
.slidecontainer {
	width: 100%;
	/* Width of the outside container */
}

.slidecontainer__label {
	color: #000040;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;
	/* Override default CSS styles */
	appearance: none;
	width: 100%;
	/* Full-width */
	height: 25px;
	/* Specified height */
	background: #d3d3d3;
	/* Grey background */
	outline: none;
	/* Remove outline */
	opacity: 0.7;
	/* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s;
	/* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1;
	/* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Override default look */
	appearance: none;
	width: 25px;
	/* Set a specific slider handle width */
	height: 25px;
	/* Slider handle height */
	background: #4CAF50;
	/* Green background */
	cursor: pointer;
	/* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 25px;
	/* Set a specific slider handle width */
	height: 25px;
	/* Slider handle height */
	background: #4CAF50;
	/* Green background */
	cursor: pointer;
	/* Cursor on hover */
}

/** Footer */
footer li,
footer li a,
footer p {
	font-size: 1.6rem;
}

footer a {
	color: #bfffff;
}

footer a:hover {
	color: white;
}

.footer-bottom {
	background: #3d6277;
	padding: 2em;
}

.footer-top {
	background: #2d4958;
}

.footer-middle {
	background: #3d6277;
	padding-top: 2em;
	color: white;
}

/**Sub Navigation**/
.subnavigation-container {
	background: #3d6277;
}

.subnavigation .nav-link {
	color: white;
	font-weight: bold;
}

.subnavigation-container {
	text-align: center;
}

.subnavigation-container .navbar {
	display: inline-block;
	margin-bottom: -6px;
	/* Inline-block margin offffset HACK -Gilron */
}

.col-subnav a {
	padding: 1rem 1rem;
	color: white;
	font-weight: bold;
}

.col-subnav .active {
	border-top: 5px solid orange;
	background: white;
	color: black;
}